<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            game.com.AppContextListener 
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>game.com.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageFileServlet</servlet-name>
        <servlet-class>game.com.ManageFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageFileServlet</servlet-name>
        <url-pattern>/admin/manage-file/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadFileServlet</servlet-name>
        <servlet-class>game.com.HandleUploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadFileServlet</servlet-name>
        <url-pattern>/admin/handle-upload-file/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleDeleteFileServlet</servlet-name>
        <servlet-class>game.com.HandleDeleteFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleDeleteFileServlet</servlet-name>
        <url-pattern>/admin/handle-delete-file/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleCreateFolderServlet</servlet-name>
        <servlet-class>game.com.HandleCreateFolderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleCreateFolderServlet</servlet-name>
        <url-pattern>/admin/handle-create-folder/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleDownloadFolderServlet</servlet-name>
        <servlet-class>game.com.HandleDownloadFolderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleDownloadFolderServlet</servlet-name>
        <url-pattern>/admin/download-folder/*</url-pattern>
    </servlet-mapping>
    <!--tram -->
    <servlet>
        <servlet-name>AddGameServlet</servlet-name>
        <servlet-class>game.com.AddGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGameServlet</servlet-name>
        <url-pattern>/admin/add-game/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxAddGameServlet</servlet-name>
        <servlet-class>game.com.AjaxAddGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxAddGameServlet</servlet-name>
        <url-pattern>/admin/ajax/add-game/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadGameThumbServlet</servlet-name>
        <servlet-class>game.com.HandleUploadGameThumbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadGameThumbServlet</servlet-name>
        <url-pattern>/admin/handle-upload-game-thumb/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadGameNesServlet</servlet-name>
        <servlet-class>game.com.HandleUploadGameNesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadGameNesServlet</servlet-name>
        <url-pattern>/admin/handle-upload-game-nes/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadGameGalleryServlet</servlet-name>
        <servlet-class>game.com.HandleUploadGameGalleryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadGameGalleryServlet</servlet-name>
        <url-pattern>/admin/handle-upload-game-gallery/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxDeleteGameGalleryImageServlet</servlet-name>
        <servlet-class>game.com.AjaxDeleteGameGalleryImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxDeleteGameGalleryImageServlet</servlet-name>
        <url-pattern>/admin/ajax/add-delete-game-gallery-image/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>game.com.StaticResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <!--static -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
