<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            game.com.AppContextListener 
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>game.com.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <!--tram -->
    <servlet>
        <servlet-name>AddGameServlet</servlet-name>
        <servlet-class>game.com.AddGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGameServlet</servlet-name>
        <url-pattern>/admin/add-game/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxAddGameServlet</servlet-name>
        <servlet-class>game.com.AjaxAddGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxAddGameServlet</servlet-name>
        <url-pattern>/admin/ajax/add-game/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadGameThumbServlet</servlet-name>
        <servlet-class>game.com.HandleUploadGameThumbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadGameThumbServlet</servlet-name>
        <url-pattern>/admin/handle-upload-game-thumb/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleUploadGameNesServlet</servlet-name>
        <servlet-class>game.com.HandleUploadGameNesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadGameNesServlet</servlet-name>
        <url-pattern>/admin/handle-upload-game-nes/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxUpdateGameServlet</servlet-name>
        <servlet-class>game.com.AjaxUpdateGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxUpdateGameServlet</servlet-name>
        <url-pattern>/ajax/update-game</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxDeleteGameServlet</servlet-name>
        <servlet-class>game.com.AjaxDeleteGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxDeleteGameServlet</servlet-name>
        <url-pattern>/ajax/delete-game</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>game.com.StaticResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>

    <!--static -->
   
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
