/*@import url(style.css);*/
/*@import url(skin.css);
@import url(skin1.css);
@import url(mainframe.css);
@import url(slimbox2.css);*/
/*@import url(menu.css);*/
h1.t{ display:none;}

ul.mslw{width:996px;height:350px;overflow:hidden;border:solid 2px #bebebe;}
ul.mslw img{width:996px;height:350px;}
ul.mslw li{overflow:hidden;display:none;opacity:0;width:996px;height:350px;}
ul.mslw #picture1{display:block;}

ul.utop{height:350px;overflow:hidden; border:solid 2px #bebebe;background:url(../image/website/image/website/g1.gif) repeat-y right top;}
ul.utop li{float:left; height:350px; overflow:hidden;}
ul.utop li.l{width:219px;border-left:solid 2px #bebebe;background:url(../image/website/g3.gif) no-repeat 10px 320px; padding-left:10px;}
ul.utop li.l div{ font-size:13px; text-transform:uppercase; color:#323232; padding-top:10px; height:40px;background:url(../image/website/g2.gif) no-repeat left 18px; font-weight:bold;}
ul.utop li.l div b{ color:#018b98;}
ul.utop li.l strong{background:url(../image/website/i1.gif) no-repeat 9px 3px; padding-bottom:12px; padding-left:20px; display:block;}

ul.utop li.r{ width:765px;}
ul.utop li.r img{width:765px;height:350px;}
ul.utop li.r div{overflow:hidden;display:none;opacity:0;width:765px;height:350px;}
ul.utop li.r #picture1{display:block;}
ul.utop li.r span.f{position:absolute;z-index:1;margin-top:290px;height:60px;background-color:#000;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);width:765px;}
ul.utop li.r strong{position:absolute;z-index:2; display:block; margin-top:295px;width:745px;padding-left:10px;height:15px;line-height:15px;overflow:hidden; font-size:15px; display:block;}
ul.utop li.r strong a{ color:#fff;}
ul.utop li.r span.t{position:absolute;z-index:3; display:block; margin-top:315px;width:745px; padding-left:10px; color:#fff; text-align:justify; line-height:15px; height:15px; height:30px; overflow:hidden;}
div.g4{ height:15px; overflow:hidden;background:url(../image/website/g4.gif) no-repeat left top;}

div.dmian{ border:solid 1px #d8d8d8; width:998px; overflow:hidden;margin-bottom:10px; background-color:#fff;}
div.dmian div.g5{ height:15px; clear:both;background:url(../image/website/g5.gif) no-repeat left top;}

div.dmian ul.t li{ float:left; width:478px; padding-left:10px; padding-right:10px; overflow:hidden; height:180px;}
div.dmian ul.t h2{ font-size:14px; height:25px;}
div.dmian ul.t img{ width:200px; height:88px; border:solid 1px #d5d5d5; padding:2px; float:left; margin-right:10px;}
div.dmian ul.t span{ display:block; line-height:18px; height:90px; overflow:hidden; text-align:justify;}
div.dmian ul.t a.f{background:url(../image/website/a.jpg) no-repeat left top; width:91px; height:26px; display:block; margin-top:20px; margin-left:375px; color:#fff;line-height:26px; padding-left:12px;}

div.av9{ padding-top:10px; padding-left:10px;}
div.av9 img{ width:488px;}

div.dmian ul.m{ height:48px; margin-left:10px;background:url(../image/website/g7.gif) no-repeat left 10px; padding-top:10px;}
div.dmian ul.m li{ float:left; overflow:hidden;}
div.dmian ul.m li.l{ width:205px; line-height:42px; padding-left:40px;}
div.dmian ul.m li.r{font-weight:bold; width:723px; line-height:15px; height:15px; text-align:right; padding-top:10px;}
div.dmian ul.m li.r b{ padding:5px; color:#ccc;}
div.dmian ul.m li.l h3{ font-size:17px;}
div.dmian ul.m li.l h3 strong{ color:#018b98;}

div.dmian ul.p{ padding-left:10px;}
div.dmian ul.p li{ float:left; height:240px; width:225px; overflow:hidden; padding-left:10px;background:url(../image/website/gp.gif) no-repeat 10px top; padding-right:9px;}
div.dmian ul.p img{ width:215px; height:135px;padding:5px;}
div.dmian ul.p strong{padding-top:5px; display:block;}
div.dmian ul.p div{ font-weight:bold; padding-top:5px;}
div.dmian ul.p span{ display:block; line-height:15px; height:30px; overflow:hidden; padding-top:5px; text-align:justify;}
div.dmian ul.p b{ color:Red;}
div.dtl{ padding:5px; text-align:justify;}

div.dlink{display:block;background:#e7e7e7 url(../image/website/achau30.png) no-repeat 8px center; line-height:30px; border:solid 1px #f4f4f4; padding-left:35px; font-weight:bold;}
div.dlink h1{font-size:15px;display:inline;}
h1.htl{ font-size:17px;color:#5e5e5e;padding-top:10px; padding-left:10px;}

div.intro{ text-align:justify; padding:10px;}

ul.news{ border-bottom:solid 1px #ddd;clear:both;padding:10px 0px; width:730px; margin-left:auto; margin-right:auto;}
ul.news li.l{width:135px;float:left;}
ul.news li.l img{width:125px;height:85px;}
ul.news li.r{height:84px;overflow:hidden;text-align:justify;}
ul.news li.r b{display:block;}
ul.news li.r span{display:block;padding-top:2px;padding-bottom:5px;color:#999;font-style:normal;}

ul.upro{ padding-left:10px; padding-top:19px;}
ul.upro li{ float:left; height:240px; width:225px; overflow:hidden; padding-left:10px;background:url(../image/website/gp1.gif) no-repeat 10px top; padding-right:9px;}
ul.upro img{ width:215px; height:135px; padding:5px;}
ul.upro strong{padding-top:5px; display:block;}
ul.upro span{ display:block; line-height:15px; height:30px; overflow:hidden; padding-top:5px; text-align:justify;}
ul.upro b{ color:Red;}

div.pdl{width:302px;float:left; margin-top:10px; margin-left:10px;}
div.pdl a.a{ display:block;border:solid 1px #cbc8c1;}
div.pdl a.a img{ width:300px; height:200px;}
div.pdl div{ padding-top:5px;height:64px; overflow:hidden;}
div.pdl div img{ width:302px; height:64px;}

div.pdr{padding-left:20px; float:left; width:414px; margin-top:10px; padding-bottom:10px;}
div.pdr h1{ font-size:18px;}

div.pdr div.rr{width:168px; overflow:hidden;float:right; margin-right:10px; background-color:#fff; padding-top:2px; margin-top:5px;}
div.pdr div.rr strong{height:17px;text-align:right; display:block; text-transform:uppercase; font-family:Tahoma;background:url(../image/website/new_gif.gif) no-repeat -12px top; padding-right:2px;}
div.pdr div.rr span{ display:block; height:150px;background:url(../image/website/map.jpg) no-repeat left top;}
div.pdr div.rr span a{display:block; height:55px;}

div.dshl{ width:150px; overflow:hidden; height:82px; float:left;background-color:#eee; padding:5px;}
div.dshl1,div.dshr1{ display:none;}
div.dshr{ width:244px; float:left;height:82px; padding:5px; background-color:#eee; text-align:right;}
div.dshr div.t{ font-size:13px; padding-bottom:5px; font-weight:bold;}
div.dshr span{ display:block; padding-bottom:3px; font-weight:bold; color:Red;}
div.dshr div.y{ height:24px; overflow:hidden;}
div.dshr div.y a{ display:block; float:right; width:64px; height:16px; margin-left:5px;}
div.dshr div.k{ height:24px; overflow:hidden;}
div.dshr div.k a{ display:block; float:right; width:50px; height:16px; margin-left:5px;}

div.pdr div.km{ height:64px; overflow:hidden;background:url(../image/website/km.jpg) no-repeat left 5px; padding-top:5px;}

#dpage{ float:right; height:20px;padding-top:15px; display:none;}
#dpage a{ border:solid 1px #ccc; line-height:18px; padding-left:3px; padding-right:3px; margin-left:3px;}
#fpage{height:20px;padding-top:15px; text-align:center; margin-bottom:8px;}
#fpage a{ border:solid 1px #ccc; line-height:18px; padding-left:3px; padding-right:3px; margin-left:3px;}
.nobold a{ font-weight:normal;}

div.dndt{color:#ff0000;font-weight:bold;font-size:13px;border-bottom:solid 1px #ccc;height:25px; text-transform:uppercase; padding-left:10px; padding-right:10px;}
div.dkeyn{background:url(../image/website/tags.gif) no-repeat left top; padding-left:45px; height:16px; padding-top:7px; padding-bottom:15px; margin-left:10px;}
div.h2dt{color:Red; background-color:#eee;font-size:18px; padding:0px 5px; line-height:30px; margin-bottom:10px; font-weight:bold;}

.fixed-bottom{
    position: fixed;
    border-radius: 4px;
    z-index: 9000;
    cursor: pointer;
    right: 50px;
    bottom: 10px;
    display: block;
    width: 100px;
    height: 45px;
    background: #3c763d;
    padding: 10px;
    color: #fff;
}

/*==============================================Begin head======================================*/
ul.uav{/*height:110px;*/overflow:hidden;}
ul.uav li.v img{display:block;width:1000px;height:180px;overflow:hidden;}
div.dhead li.s{background:url(../image/website/txt.png) no-repeat left top;width:219px;height:24px;margin-top:5px;padding-right:3px;overflow:hidden;padding-top:1px;margin-top:3px; float:right; margin-right:5px;}
#iSear{float:right;height:28px;width:30px;}
#key{width:175px;color:#ababab;padding: 5px}
.homeicon{margin-top: 2px;margin-right: 5px;}
.fbicon{margin: 5px auto auto 10px;}
ul.umh div{display:none;}
ul.umh{overflow:hidden;height:30px;margin-bottom:10px;background:url(../image/website/h1.gif) repeat-x left top;}
ul.umh li{float:left; height:30px;}
ul.umh li.g{background:url(../image/website/h3.gif) no-repeat left top;}
ul.umh li:hover div{display:inline;position:absolute;z-index:100;}

ul.umh a{display:block;}
ul.umh a.a1{text-decoration:none;line-height:30px;padding:0px 8px;color:#fff;}
ul.umh a.a2{width:180px;padding:6px;font-weight:normal;border-top:solid 1px #fff; font-size:12px;}

ul.umh li:hover,ul.umh li.s{background:url(../image/website/h2.gif) repeat-x left top;}
ul.umh li.s a.a1,ul.umh li:hover a.a1{color:#003b6a;color:red;}

ul.umh li.h{ width:36px; overflow:hidden;}
ul.umh a.h{width:26px; padding-left:40px;}
ul.umh li.s a.h{background:url(../image/website/h4.gif) no-repeat 10px center;}
ul.umh li.n a.h{background:url(../image/website/home.png) no-repeat 10px center;}
ul.umh li.n a.h:hover{background:url(../image/website/h4.gif) no-repeat 10px center;}

ul.umh a.a2:link, ul.umh a.a2:visited, ul.umh a.a2:active{
    background-color:#B53333;/*#792424;*//*#255985;*/
    /*background:url(../image/website/h1.gif);*/
    color:#fff;}
ul.umh a.a2:hover{
    /*background-color:#d1a352;*/
    background-color: #792424;
      color:#fff;text-decoration:none;}
/*====================================main===========================================*/
div.dhead{left:0px;top:0px;position:fixed;z-index:10000;height:30px;overflow:hidden;width:100%;background:url(../image/website/bg1.gif) repeat-x left bottom;border-bottom:solid 1px #c7c8c3;}
div.dhead ul{width:990px;margin-left:auto;margin-right:auto;}
div.dhead li{float:left;}
div.dhead li.r{width:250px;padding-top:6px;float:right;}
div.dhead div.l{width:90px;overflow:hidden;float:right;}
div.dhead div.c{width:70px;overflow:hidden;float:right;}
div.dhead div.r{width:90px;overflow:hidden;float:right;text-align:right;}

div.dhead li.l{line-height:30px;}
div.dhead b{display:block;float:left;font-size:14px;font-weight:normal;}
div.dhead strong{font-size:14px;color:#ff0000;display:block;float:left;padding-right:10px;padding-left:5px;}

#adc{width:25px;height:25px;float:left;cursor:pointer;background:url(../image/website/yahoo.png) no-repeat left top;margin-top:3px;margin-left:10px;}
div.adc{border:solid 1px #ccc;width:220px;background-color:#fff;padding:5px;font-size:12px;font-family:Arial;}
div.adc a{display:block;padding:5px;color:#626365;}

#abc{width:50px;height:25px;float:left;cursor:pointer;background:url(../image/website/sk.png) no-repeat left top;margin-top:6px;margin-left:10px;}
div.abc{border:solid 1px #ccc;width:220px;background-color:#fff;padding:5px;font-size:12px;font-family:Arial;}
div.abc a{display:block;padding:5px;color:#626365;}

ul.ulnf{width:1020px;}
ul.ulnf li{float:left;width:310px;overflow:hidden;background:#f4f4f4 url(../image/website/gf.gif) no-repeat left top;margin-right:11px;padding:0px 8px 8px 8px;}
ul.ulnf h4{height:34px;font-size:12px;text-transform:uppercase;font-family:Tahoma;line-height:34px;padding-left:20px;}
ul.ulnf strong{line-height:15px;height:15px;overflow:hidden;margin-bottom:5px;padding-top:5px;clear:both;display:block;}
ul.ulnf img{width:60px;height:45px;float:left;margin-right:6px;margin-bottom:5px;}
ul.ulnf span{display:block;line-height:15px;height:45px;overflow:hidden;text-align:justify;color:#666;margin-bottom:5px;}

ul.uft{background-color:#f9f9f9;height:190px;padding-top:10px;clear:both;}
li.liftl{width:500px;float:left;padding-left:10px;}
li.liftr{width:450px;float:left;padding-left:30px;}
div.h2ft{background:url(../image/website/i2.gif) no-repeat left center;line-height:26px;font-size:12px;font-family:Tahoma;text-transform:uppercase;padding-left:20px;border-bottom:solid 1px #d8d5d6;font-weight:bold;}
li.liftr div.t{background:url(../image/website/i2.gif) no-repeat left center;line-height:26px;font-size:12px;font-family:Tahoma;text-transform:uppercase;padding-left:20px;border-bottom:solid 1px #d8d5d6;font-weight:bold;}

ul.ulft{background-color:#f9f9f9;padding:5px;position:relative;border: solid 1px #d8d8d8}
li.lftf{width:350px;overflow:hidden;padding:10px;text-align:justify;float: left}
li.bct{ right:5px; bottom:130px; width:100px; height:64px;background:url(../image/website/bct.png) no-repeat left top;position:absolute;}
li.bct a{ display:block;width:100px; height:64px;}

li.lftc{float:left;width:230px;padding-left:10px;overflow:hidden;}
li.lftc strong{display:block;padding-bottom:5px;text-transform:uppercase;font-family:Tahoma;}
li.lftc span{display:block;padding-top:5px;border-top:solid 1px #ccc;padding-bottom:5px;}
li.lftc a{color:#333;}
div.dsha{height:30px;overflow:hidden;float:right;overflow:hidden;}
div.dsha div.sl{width:85px;overflow:hidden;float:left;}
div.dsha div.sc{width:75px;overflow:hidden;float:left;}
div.dsha div.sr{width:80px;overflow:hidden;float:left;text-align:right;}

div.divl{width:235px;padding-right:10px;overflow:hidden;float:left;}
div.divr{width:753px;overflow:hidden;border:solid 1px #c8c8c8;float:left;background-color:#f4f4f4;margin-bottom:10px;}

div.divl div.m{background:#f4f4f4 url(../image/website/gl.gif) no-repeat left top;border:solid 1px #c8c8c8;margin-bottom:10px;}
div.divl div.m h3{font-size:12px;text-transform:uppercase;line-height:33px;padding-left:40px;height:35px;}
div.divl div.m h3 a{color:#fff;font-family:Tahoma;}
div.divl div.f{font-weight:bold;margin-left:10px;width:201px;padding-left:12px;line-height:30px;background:url(../image/website/i1.gif) no-repeat left center;}
div.divl div.t{border-top: #dadada 1px dotted;}
div.divl div.c{padding-left:20px;padding-bottom:8px;}
div.divl div.s a{color:Red;}

div.divl div.g{background-color:#f4f4f4;border:solid 1px #c8c8c8;margin-bottom:10px;}
div.divl strong.t{display:block;background:#e7e7e7 url(../image/website/achau30.png) no-repeat 6px center;line-height:30px;border:solid 1px #f4f4f4;padding-left:35px;font-size:15px;height:30px;overflow:hidden;}

div.divl div.y strong{margin-bottom:10px;}
div.divl div.y a{display:block;height:26px;overflow:hidden;}
div.divl div.y a.y{padding-left:80px;}
div.divl div.y a.k{padding-left:33px;}
div.divl div.y div{background:url(../image/website/tel.gif) no-repeat 10px 15px;height:65px;clear:both;padding-left:60px;font-weight:bold;}
div.divl div.y span{display:block;color:#888;text-transform:uppercase;padding-bottom:3px;}
div.divl div.y b{font-size:14px;display:block;color:Red;font-family:Verdana;}

div.divl div.n div{padding:8px;overflow:hidden;border-bottom:#ddd 1px dotted;font-size:11px;clear:both;}
div.divl div.n strong{font-size:11px;padding-bottom:5px;display:block;}
div.divl div.n img{width:60px;height:45px;float:left;margin-right:5px;}
div.divl div.n span{line-height:15px;margin-bottom:5px;height:45px;overflow:hidden;display:block;}

div.divl div.v{padding-bottom:10px;}
div.divl div.v img{width:235px;}

div.divl div.p div{padding:8px;text-align:center;}
div.divl div.p img{width:210px;}
div.divl div.p h4{font-size:12px;padding-top:5px;padding-bottom:5px;}
div.divl div.p span{display:block;font-weight:bold;}
div.divl div.p div b{color:Red;}
div.divl div.p strong b{color:#c92d2e;}

body{font-size:12px;font-family:Arial;color:#333;padding:31px 0px 0px 0px;margin:0px; background-color:#f4f4f4;}
form{font-size:12px;font-family:Arial;color:#333;padding:0px;margin:0px auto 0px auto;width:1000px;overflow:hidden;}
table{font-size: 12px;font-family: Arial;}
ul{padding:0px;margin:0px;list-style-type:none;}ul li{padding:0px;margin:0px;list-style-type:none;}
h1,h2,h3,h4,h5,h6{padding:0px; margin:0px;}img{border:0px;}.sao{font-family:Verdana;color:Red;}.cl{clear:both;}
a{color:#5e5e5e;text-decoration:none;}a:hover{color:#ff0000;text-decoration:underline;}

.textbox{border: 1px solid #288fb8;font-size: 11px;font-family:Arial;color: #2c478c;background-color:White;} 
.textbox1{border: 1px solid #288fb8;font-size: 11px;font-family: Arial;color: #2c478c;background-color: White;text-transform: lowercase;}
.textbox2{border:0px solid #fff;font-size:11px;font-family:Arial;color: #2c478c;background-color:Transparent;padding:0px;margin:0px; border:0px; border-style:none;} 
.txt12{border: 1px solid #288fb8;font-size: 12px;font-family:Arial;color: #2c478c;background-color:White; padding:2px;} 

.button{color: #fff;font-family: verdana, Arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;background-color: #6898D0;cursor: pointer;padding: 2px;border: #dadada 2px outset;} 
.button1{color: #fff;font-family: verdana, Arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;background-color: #6898D0;cursor: pointer;padding: 2px;border: #dadada 2px outset;} 
.btnID{font-family:Arial;padding:1px;margin:0px; font-size:11px;}

.divct1{float:left;width:115px;padding:5px;}
.divct2{float:left;width:400px; padding:5px 0px;}

.tdiv{padding:5px;font-weight:bold; padding:5px;}
.tdiv b{float:right;color:Red;}
.tdiv img{vertical-align:middle;}

/*==============================================Begin Pages======================================*/
#lblPage{ display:block;text-align:center;padding-top:10px;height:24px; clear:both;font-weight:bold;}
A.apage:link{color:#0062BD;text-decoration:none;border: 1px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:bold;}
A.apage:visited{color: #0062BD;text-decoration:none;border: 1px solid #cccccc;padding:0px 5px;vertical-align: middle;font-weight:bold;}
A.apage:hover {color:#f60;text-decoration:none;border:1px solid red;padding:0px 5px;vertical-align:middle;font-weight:bold;}
.cpage{color:red;text-decoration:none;border:1px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:bold;}
/*==============================================End Pages======================================*/
#dgl{width:125px;top:140px;position:fixed;z-index:0;overflow:hidden;}
#dgr{width:125px;top:140px;position:fixed;z-index:0;overflow:hidden;}
#divAdLeft img,#divAdRight img{ width:125px;}
